@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
  color: #000000;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  background: #e5e5e5;
  overflow-x: hidden;
  max-width: 100% !important;
}

section {
  padding: 20px;
  background-color: #ffffff;
  z-index: 2;
  box-shadow: 3px 8.3px 8.1px rgba(0, 0, 0, 0.11),
    24px 66px 65px rgba(0, 0, 0, 0.058);
}

.main {
  padding: 35px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  background: #e5e5e5;
}

/*about me section design*/
.about-me {
  grid-area: 1 / 1 / 4 / 7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  place-items: center;
}

.about-me .welcome-text {
  grid-area: 1 / 1 / 4 / 4;
  display: flex;
  align-items: center;
  width: 100%;
}

.about-me .welcome-text .img {
  height: 120px;
  width: 120px;
}

.about-me .welcome-text .img img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 120px;
}

.about-me .welcome-text h1 {
  animation: scale-up-center 0.9s ease-in-out both;
  margin-left: 15px;
  font-weight: 500;
  font-size: 3em;
  color: #a0b63b;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.about-me .welcome-text h1 span {
  color: #135043;
}

.about-me .my-sub {
  width: 100%;
  grid-area: 1 / 4 / 4 / 7;
}

.about-me .my-sub .sub {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.about-me .my-sub .sub .active {
  display: flex;

  align-items: center;
  gap: 10px;
}

.about-me .my-sub .sub h2 {
  display: inline-block;
  font-weight: 500;
  font-size: 1.625em;
}

.about-me .my-sub .sub span {
  margin-left: 15px;
  background: rgba(61, 182, 59, 0.2);
  border-radius: 8px;
  font-weight: 400;
  font-size: 0.875em;
  padding: 5px;
  text-align: center;
  color: #3db63b;
}

.about-me .my-sub .sub a {
  font-weight: 400;
  font-size: 0.9375em;
  line-height: 20px;
  text-align: right;
  color: #a0b63b;
}

.about-me .my-sub .left-of-sub {
  display: flex;
  flex-direction: column;
}

.about-me .my-sub .left-of-sub h3 {
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border: 1px solid #d3d3d3;
  margin-top: 15px;
  border-radius: 12px;
  font-size: 1.125em;
}

.about-me .my-sub .left-of-sub h3 span {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 0.9rem;
  color: #717171;
}

.about-me .my-sub .left-of-sub p {
  font-style: italic;
  font-weight: 400;
  font-size: 0.8125em;
  line-height: 20px;
  color: #717171;
}

.about-me .info-about-me {
  grid-area: 4 / 1 / 6 / 7;
  width: 100%;
}

.about-me .info-about-me h3 {
  font-weight: 500;
  font-size: 1.625em;
  line-height: 23px;
  margin-bottom: 15px;
}

.about-me .info-about-me .info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.about-me .info-about-me .info .one-info {
  margin: 10px 0 10px 0;
  min-width: 130px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 5px;
}

.about-me .info-about-me .info .one-info .info-label {
  font-weight: 500;
  font-size: 1.125em;
  line-height: 1.2em;
  position: relative;
}

.about-me .info-about-me .info .one-info .info-label:after {
  content: '';
  position: absolute;
  background-color: #a0b63b;
  width: 30px;
  height: 1.5px;
  left: 0;
  bottom: -7px;
}

.about-me .info-about-me .info .one-info .theinfo {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 20px;
  color: #717171;
}

/*my goals section design*/
.my-goals {
  grid-area: 4 / 1 / 6 / 4;
  display: flex;
  justify-content: space-around;

  align-items: center;
  flex-direction: column;
}

.my-goals .goals-title {
  width: 100%;
}

.my-goals .goals-title h3 {
  width: 50%;
  display: inline-block;
  font-weight: 500;
  font-size: 1.625em;
  line-height: 23px;
}

.my-goals .goals-title span {
  position: relative;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #717171;
}

.my-goals .goals-title span::after {
  content: '';
  position: absolute;
  background-color: #a0b63b;
  height: 1.5px;
  transform: scaleX(1);
  width: 30%;
  left: 35%;
  bottom: -5px;
}

.my-goals .goals {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: space-around;
}

.my-goals .goals .goal h3 {
  font-weight: 500;
  font-size: 3.3em;
}

.my-goals .goals .goal h3 span {
  margin-left: -5px;
  font-size: 0.5em !important;
}

.my-goals .goals .goal p {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 20px;
  color: #717171;
}

.my-goals .goals .arrow {
  color: #717171;
  font-size: 40px;
  font-weight: 100;
}

.move1 {
  animation: slide-right1 1s ease-out 0s alternate both;
}

@keyframes slide-right1 {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0px);
  }
}

.move2 {
  animation: slide-right2 1s ease-out 0.4s alternate both;
}

@keyframes slide-right2 {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0px);
  }
}

.move3 {
  animation: slide-right3 1s ease-out 0.8s alternate both;
}

@keyframes slide-right3 {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0px);
  }
}

.move4 {
  animation: slide-right4 1s ease-out 1.2s alternate both;
}

@keyframes slide-right4 {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0px);
  }
}

.move5 {
  animation: slide-right5 1s ease-out 1.6s alternate both;
}

@keyframes slide-right5 {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0px);
  }
}

/*Rdi section design */
.RDI {
  grid-area: 4 / 4 / 6 / 7;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.RDI .title {
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 23px;
}

.RDI .text {
  font-weight: 400;
  font-size: 0.9375em;
  line-height: 21px;
  color: #717171;
  width: 75%;
  height: 60%;
}

.RDI .advives {
  display: flex;
  gap: 15px;
}

.RDI .advives .advice {
  font-weight: 400;
  font-size: 0.9375em;
  line-height: 20px;
}

.RDI .advives .advice img {
  margin-right: 5px;
}

/* follow and contact us pop up design */
#pop-follow,
#pop-ContactUs {
  min-width: 100vw;
  min-height: 100vh;
  place-items: center;
  display: none;
  position: absolute;
  z-index: 999999999999999;
  background-color: #0000008c;
}

#myForm {
  max-height: 99vh;
  display: flex;
  flex-direction: column;
  z-index: 999999999999;

  background-color: #fff;
  border: 2px solid #64626a;
  border-radius: 5px;
  min-width: 280px;
  width: 50%;
  max-width: 670px;
  padding: 35px;
}

#myForm input {
  outline: none;
  border: 0;
  width: 100%;
}

#myForm .file-info {
  display: inline-flex;
  flex-direction: column;
}

#myForm .input-div {
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 10px;
}

#myForm label {
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: #222222;
}

#myForm .header {
  display: flex;
  justify-content: space-between;
}

#myForm .header h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 23px;
  color: #000000;
}

#myForm h5 {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.2em;
  margin-top: 5px;
  color: #717171;
}

#myForm h2 {
  text-align: center;
}

#myForm form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 95%;
  margin: 25px auto;
}

#myForm .file-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

#myForm .file-size {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #717171;
}

#myForm #upload-label {
  display: flex;
  cursor: pointer;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 5px 1px;

  align-items: center;
}

#myForm #upload-label i {
  padding: 10px 15px;
}

#myForm label {
  font-weight: bold;
}

#myForm #comments {
  height: 100px;
  width: 100%;
  resize: none;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 15px;
  outline: 0;
}

#myForm input[type='file'] {
  display: none;
}

#myForm input[type='submit'] {
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  background: #a0b63b;
  border-radius: 8px;
}

#myForm #closeForm,
#myForm #closeFormContact {
  transition: all 0.3s ease-in-out;
  color: #fff;
  padding: 3px 7px;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #64626a;
  border-radius: 5px;
}

#myForm #closeForm i,
#myForm #closeFormContact i {
  color: #64626a;
  transition: all 0.3s ease-in-out;
}

#myForm #closeForm:hover,
#myForm #closeFormContact:hover {
  border: 2px solid #ff0000;
}

#myForm #closeForm:hover i,
#myForm #closeFormContact:hover i {
  color: #ff0000;
}

#myForm .doc-meet-check {
  display: flex;
  align-items: center;
}

#myForm .doc-meet-check input {
  outline: #222222;
  accent-color: #a0b63b;
  opacity: 1;
  position: relative;
  color: #042126;
  width: auto;
  margin: 10px;
  height: 15px;
  width: 15px;
}

#myForm .doc-meet-check .doc-name {
  color: #a0b63b;
}

#myForm .doc-meet-check .alert {
  color: #717171;
  font-size: 0.9em;
}

#activity_level {
  padding: 8px 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: #f1f1f1;
  color: #717171;
  border: 1px solid #d3d3d3;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  z-index: 2;
  cursor: pointer;
}

#activity_level option:hover {
  background-color: #333;
}

.rating {
  cursor: pointer;
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  border-radius: 2.2rem;
}

.card {
  display: flex;
  margin: auto;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  background-color: white;
  padding: 0.8rem;
  width: 33rem;
}

.rating-container {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  width: 100%;
}

.rating-form {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.svg {
  fill: #818181;
  height: 3.6rem;
  width: 3.6rem;
  margin: 0.2rem;

  align-items: center;

  justify-content: center;
  cursor: pointer;
}

.rating-form-2 svg {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

#radios label {
  position: relative;
}

.super-happy,
[type='radio'] {
  position: absolute;
  opacity: 0;
}

.input,
[type='radio'] + svg {
  transition: all 0.2s;
}

.super-happy[class='super-happy']:hover + svg,
.super-happy[class='super-happy']:checked + svg,
.super-happy[class='super-happy']:focus + svg {
  fill: #00cc4f;
  transition: 1.5s;
}

.neutral[class='neutral']:hover + svg,
.neutral[class='neutral']:checked + svg,
.neutral[class='neutral']:focus + svg {
  fill: #e8d600;
  transition: 1.5s;
}

.super-sad[class='super-sad']:hover + svg,
.super-sad[class='super-sad']:checked + svg,
.super-sad[class='super-sad']:focus + svg {
  fill: #ef2a10;
  transition: 1.5s;
}

.lb input {
  width: 20px !important;
}

#background-photo {
  position: fixed;
  width: 100%;
  bottom: 0px;
}
