@media only screen and (max-width: 1100px) {
    body {
        font-size: 13px;
    }

    .main {
        padding: 15px;
    }

    .main .about-me {
        gap: 20px;
    }

    .main .about-me .info-about-me .info {
        gap: 0;
    }

    .main .RDI .title {
        font-size: 1.4em;
    }

    section {
        gap: 15px;
    }
}

@media only screen and (max-width: 900px) {
    .second {
        display: block !important;
    }

    body {
        font-size: 15px !important;
    }

    #myForm {
        width: 70% !important;
    }

    .main {
        padding: 15px !important;
        display: flex !important;
        flex-direction: column !important;
        gap: 15px !important;
    }

    .main .about-me {
        padding: 20px !important;

        display: flex !important;

        flex-direction: column !important;
        gap: 25px !important;
    }

    .main .about-me .welcome-text {
        align-items: flex-start !important;
    }

    .main .my-goals .goals {
        margin-top: 15px;
        padding: 0px !important;
        gap: 5px !important;
    }

    .main .my-goals .goals .goal h3 {
        font-size: 2.2em !important;
    }

    .hamburger {
        transform: rotateY(200deg);
        display: block !important;
    }

    .active .bar:nth-child(1) {
        transform: translateY(8px) rotate(-315deg) !important;
        width: 36px !important;
    }

    .active .bar:nth-child(2) {
        opacity: 0 !important;
    }

    .active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg) !important;
        width: 36px !important;
    }

    .nav-bar,
    .buttons-group {
        display: none !important;
    }

    .active .bar,
    .fa-times {
        background-color: #ff0000;
    }

    .responsive-navbar.active {
        right: 0%;
        transition: all 0.4s ease-in-out;
    }

    .flex {
        display: flex !important;
    }

    .responsive-navbar {
        position: absolute;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70%;
        width: 50%;
        z-index: 9999;
        top: 100px;
        padding: 10px;
        transition: all 0.4s ease-in-out;
        right: -100%;
    }

    .responsive-navbar a {
        font-weight: 400;
        font-size: 1.3em;
        color: #fff;
        padding: 12px 25px;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
        width: calc(100% - 1rem);
        text-align: center;
    }

    .responsive-navbar a:hover {
        background-color: #ffffff;
        color: #a0b63b;
    }

    .responsive-navbar a .active {
        color: #a0b63b;
    }

    .responsive-navbar hr {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    body {
        overflow-x: hidden;
        font-size: 13px !important;
    }

    #myForm {
        width: 90% !important;
        padding: 20px !important;
    }

    .main .about-me {
        padding: 10px !important;
    }

    .main .about-me .welcome-text {
        flex-direction: column !important;
    }

    .main .about-me .welcome-text h1 {
        margin: 0 !important;
    }

    .RDI .text {
        width: 100% !important;
    }

    .responsive-navbar {
        width: 65% !important;
    }
}

@media only screen and (max-width: 350px) {
    body {
        font-size: 10px !important;
        overflow-x: hidden;
    }

    #myForm {
        width: 95% !important;
        padding: 10px !important;
    }
}